In [1]:
import graphlab

A newer version of GraphLab Create (v1.8.1) is available! Your current version is v1.7.1.

You can use pip to upgrade the graphlab-create package. For more information see https://dato.com/products/create/upgrade.

In [27]:
sf = graphlab.SFrame('train.csv')

PROGRESS: Finished parsing file /home/him/AllProjects/Titanic_kaggle/train.csv
PROGRESS: Parsing completed. Parsed 100 lines in 0.019833 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[int,int,int,str,str,float,int,int,str,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /home/him/AllProjects/Titanic_kaggle/train.csv
PROGRESS: Parsing completed. Parsed 891 lines in 0.013347 secs.

In [28]:
sf.head()

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str

Rows: 10

Data:
+-------------+----------+--------+--------------------------------+--------+
| PassengerId | Survived | Pclass |              Name              |  Sex   |
+-------------+----------+--------+--------------------------------+--------+
|      1      |    0     |   3    |    Braund, Mr. Owen Harris     |  male  |
|      2      |    1     |   1    | Cumings, Mrs. John Bradley...  | female |
|      3      |    1     |   3    |     Heikkinen, Miss. Laina     | female |
|      4      |    1     |   1    | Futrelle, Mrs. Jacques Hea...  | female |
|      5      |    0     |   3    |    Allen, Mr. William Henry    |  male  |
|      6      |    0     |   3    |        Moran, Mr. James        |  male  |
|      7      |    0     |   1    |    McCarthy, Mr. Timothy J     |  male  |
|      8      |    0     |   3    | Palsson, Master. Gosta Leonard |  male  |
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli...  | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade...  | female |
+-------------+----------+--------+--------------------------------+--------+
+------+-------+-------+------------------+---------+-------+----------+
| Age  | SibSp | Parch |      Ticket      |   Fare  | Cabin | Embarked |
+------+-------+-------+------------------+---------+-------+----------+
| 22.0 |   1   |   0   |    A/5 21171     |   7.25  |       |    S     |
| 38.0 |   1   |   0   |     PC 17599     | 71.2833 |  C85  |    C     |
| 26.0 |   0   |   0   | STON/O2. 3101282 |  7.925  |       |    S     |
| 35.0 |   1   |   0   |      113803      |   53.1  |  C123 |    S     |
| 35.0 |   0   |   0   |      373450      |   8.05  |       |    S     |
| None |   0   |   0   |      330877      |  8.4583 |       |    Q     |
| 54.0 |   0   |   0   |      17463       | 51.8625 |  E46  |    S     |
| 2.0  |   3   |   1   |      349909      |  21.075 |       |    S     |
| 27.0 |   0   |   2   |      347742      | 11.1333 |       |    S     |
| 14.0 |   1   |   0   |      237736      | 30.0708 |       |    C     |
+------+-------+-------+------------------+---------+-------+----------+
[10 rows x 12 columns]

In [29]:
sf = sf.dropna()
train_data,val_data = sf.random_split(0.8,seed=20)

In [36]:
graphlab.boosted_trees_classifier.get_default_options()

Columns:
	name	str
	default_value	float
	description	str
	lower_bound	int
	parameter_type	str
	upper_bound	float

Rows: 9

Data:
+--------------------+---------------+-------------------------------+
|        name        | default_value |          description          |
+--------------------+---------------+-------------------------------+
|    random_seed     |      None     | Seed for row and column su... |
| min_loss_reduction |      0.0      | Minimum loss reduction req... |
|   class_weights    |      None     | Weights (during training) ... |
|     step_size      |      0.3      | Step_size used for combini... |
|  min_child_weight  |      0.1      | Minimum weight required on... |
|  column_subsample  |      1.0      | Percentage of the features... |
|   row_subsample    |      1.0      | Percentage of the examples... |
|     max_depth      |      6.0      | The maximum depth of indiv... |
|   max_iterations   |      10.0     | Number of iterations, equa... |
+--------------------+---------------+-------------------------------+
+-------------+----------------+-------------------+
| lower_bound | parameter_type |    upper_bound    |
+-------------+----------------+-------------------+
| -2147483647 |    INTEGER     |    2147483647.0   |
|      0      |      REAL      | 3.40282346639e+38 |
|     None    |    DYNAMIC     |        None       |
|      0      |      REAL      |        1.0        |
|      0      |      REAL      | 3.40282346639e+38 |
|      0      |      REAL      |        1.0        |
|      0      |      REAL      |        1.0        |
|      1      |    INTEGER     |    2147483647.0   |
|      1      |    INTEGER     |    2147483647.0   |
+-------------+----------------+-------------------+
[9 rows x 6 columns]

In [74]:
model = graphlab.svm_classifier.create(sf,
                                                 target = 'Survived',
                                           max_iterations = 10000,
                                      penalty=1000000)

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

PROGRESS: SVM:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 679
PROGRESS: Number of classes           : 2
PROGRESS: Number of feature columns   : 11
PROGRESS: Number of unpacked features : 11
PROGRESS: Number of coefficients    : 1336
PROGRESS: Starting L-BFGS
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+-----------+--------------+-------------------+---------------------+
PROGRESS: | Iteration | Passes   | Step size | Elapsed Time | Training-accuracy | Validation-accuracy |
PROGRESS: +-----------+----------+-----------+--------------+-------------------+---------------------+
PROGRESS: | 1         | 3        | 0.001473  | 0.003175     | 0.998527          | 0.685714            |
PROGRESS: | 2         | 5        | 1.000000  | 0.005554     | 1.000000          | 0.771429            |
PROGRESS: | 3         | 6        | 1.000000  | 0.006904     | 1.000000          | 0.771429            |
PROGRESS: | 4         | 7        | 1.000000  | 0.008208     | 1.000000          | 0.771429            |
PROGRESS: | 5         | 8        | 1.000000  | 0.009517     | 1.000000          | 0.771429            |
PROGRESS: | 6         | 9        | 1.000000  | 0.011356     | 1.000000          | 0.742857            |
PROGRESS: | 11        | 16       | 1.000000  | 0.020226     | 1.000000          | 0.742857            |
PROGRESS: +-----------+----------+-----------+--------------+-------------------+---------------------+
PROGRESS: SUCCESS: Optimal solution found.
PROGRESS:

In [75]:
print model.evaluate(sf)

{'f1_score': 0.9825174825174825, 'recall': 0.9689655172413794, 'confusion_matrix': Columns:
	target_label	int
	predicted_label	int
	count	int

Rows: 4

Data:
+--------------+-----------------+-------+
| target_label | predicted_label | count |
+--------------+-----------------+-------+
|      1       |        0        |   9   |
|      1       |        1        |  281  |
|      0       |        0        |  423  |
|      0       |        1        |   1   |
+--------------+-----------------+-------+
[4 rows x 3 columns]
, 'precision': 0.9964539007092199, 'accuracy': 0.9859943977591037}

In [44]:
final_test = graphlab.SFrame('test.csv')

PROGRESS: Finished parsing file /home/him/AllProjects/Titanic_kaggle/test.csv
PROGRESS: Parsing completed. Parsed 100 lines in 0.026115 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[int,int,str,str,float,int,int,str,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /home/him/AllProjects/Titanic_kaggle/test.csv
PROGRESS: Parsing completed. Parsed 418 lines in 0.017838 secs.

In [76]:
pred = model.predict(final_test)
cp = final_test
cp.add_column(pred)

Columns:
	PassengerId	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str
	X12	int
	X13	int
	X14	int

Rows: 418

Data:
+-------------+--------+-------------------------------+--------+------+-------+
| PassengerId | Pclass |              Name             |  Sex   | Age  | SibSp |
+-------------+--------+-------------------------------+--------+------+-------+
|     892     |   3    |        Kelly, Mr. James       |  male  | 34.5 |   0   |
|     893     |   3    | Wilkes, Mrs. James (Ellen ... | female | 47.0 |   1   |
|     894     |   2    |   Myles, Mr. Thomas Francis   |  male  | 62.0 |   0   |
|     895     |   3    |        Wirz, Mr. Albert       |  male  | 27.0 |   0   |
|     896     |   3    | Hirvonen, Mrs. Alexander (... | female | 22.0 |   1   |
|     897     |   3    |   Svensson, Mr. Johan Cervin  |  male  | 14.0 |   0   |
|     898     |   3    |      Connolly, Miss. Kate     | female | 30.0 |   0   |
|     899     |   2    |  Caldwell, Mr. Albert Francis |  male  | 26.0 |   1   |
|     900     |   3    | Abrahim, Mrs. Joseph (Soph... | female | 18.0 |   0   |
|     901     |   3    |    Davies, Mr. John Samuel    |  male  | 21.0 |   2   |
+-------------+--------+-------------------------------+--------+------+-------+
+-------+-----------+---------+-------+----------+-----+-----+-----+
| Parch |   Ticket  |   Fare  | Cabin | Embarked | X12 | X13 | X14 |
+-------+-----------+---------+-------+----------+-----+-----+-----+
|   0   |   330911  |  7.8292 |       |    Q     |  0  |  0  |  0  |
|   0   |   363272  |   7.0   |       |    S     |  0  |  0  |  0  |
|   0   |   240276  |  9.6875 |       |    Q     |  0  |  0  |  0  |
|   0   |   315154  |  8.6625 |       |    S     |  0  |  0  |  0  |
|   1   |  3101298  | 12.2875 |       |    S     |  0  |  1  |  1  |
|   0   |    7538   |  9.225  |       |    S     |  0  |  0  |  0  |
|   0   |   330972  |  7.6292 |       |    Q     |  0  |  1  |  0  |
|   1   |   248738  |   29.0  |       |    S     |  0  |  1  |  0  |
|   0   |    2657   |  7.2292 |       |    C     |  1  |  0  |  0  |
|   0   | A/4 48871 |  24.15  |       |    S     |  0  |  0  |  0  |
+-------+-----------+---------+-------+----------+-----+-----+-----+
[418 rows x 14 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [77]:
cp = cp.select_columns(['PassengerId','X14'])
cp.save('predictions',format = 'csv')

In [50]:
pred2 = final_test
pred2.head()
pred2.add_column(pred)

TypeError: Must give column as SArray

In [ ]:
tt = []
for i in pred:
    if i['class'] == 1